.dark{color: #f1f1f1;background: #353b48;}
.dark .logo {background-image: url(/Images/arsentech-dark.svg);background-size: contain;}
.dark .menu-toggler span {background-color: #fff;}
.dark .navbar-menu a {color: #fff;}
.dark .navbar-menu a:hover, .dark .navbar-menu a:focus {color: #1dd1a1 !important;}
.dark #icon{filter: invert(1);}
.dark .sticky {background: #353b48;}
.dark .sticky .logo {background-image: url(/Images/arsentech-dark.svg);}
.dark .sticky .logo:hover{background-image: url(/Images/arsentech-colorful.svg);}
.dark .sticky .navbar-menu a {color: #f1f1f1;}
.dark .sticky .menu-toggler span {background-color: #f1f1f1;}
.dark .sticky .menu-toggler {color: #f1f1f1;}
.dark .anchor {background: transparent;}
.dark .anchor.sticky .marker{border-color: #b3ffc1;box-shadow: 0 0 6px 4px #2f343f;}
.dark :where(.anchor.sticky .anchor-item.active .marker,.anchor .anchor-item.active .marker,.anchor.sticky .anchor-item:hover .marker,.anchor .anchor-item:hover .marker){background: #b3ffc1 !important;}
.dark section {background: #353b48;}
.dark .section-title {color: #f1f1f1;}
.dark .section-title::before {background: #f1f1f1;}
.dark .section-title::after {background-color: #1dd1a1;border-color: #353b48;}
.dark .about-text h3 {color: #aaa;}
.dark .about-text h3 span:nth-child(1)::after, .dark .about-text h3 span:nth-child(2)::after {background: #aaa;}
.dark .skill-bar {background: #888;}
.dark .skill-bar::after {background-color: #1dd1a1;}
.dark section.alt {background-color: #2f343f;}
.dark section.alt .section-title::after {border-color: #2f343f;}
.dark .service {border-color: #1dd1a1;color: #1dd1a1;}
.dark .service .icon {color: #1dd1a1;}
.dark .service:hover, .dark .service:focus {background-color: #1dd1a1;color: #2f343f;}
.dark .service:hover .icon, .dark .service:focus .icon {color: #2f343f;}
.dark .contact-info .item {color: #2f343f;background-color: #f1f1f1;}
.dark .contact-info .item:hover, .dark .contact-info .item:focus {background-color: #1dd1a1;}
.dark .contact-form input, .dark .contact-form textarea {background-color: #f1f1f1;color: #2f343f;}
.dark .contact-form input::placeholder, .dark .contact-form textarea::placeholder {color: #666}
.dark .contact-form .btn {background-color: #353b48;color: #1dd1a1}
.dark :where(.contact-form .btn:hover, .contact-form .btn:focus, #blog .btn:hover, #blog .btn:focus) {background: #1dd1a1 !important;color: #2f343f !important;}
.dark #blog .btn {background-color: #2f343f;color: #1dd1a1}
.dark .subscribe{background: #353b48;}
.dark .subscribe p{color: #afafaf;}
.dark .subscribe a,.dark .other-channels .channels .channel .info a{background: #1dd1a1;color: #353b48;}
.dark .subscribe a:hover,.dark .other-channels .channels .channel .info a:hover{background: #92e5a1;}
.dark .subscribe button{color: #fff;}
.dark .posts .blog-post .details .more-btn{color: white;}
.dark .posts .blog-post .details .more-btn:hover{background: rgb(29, 209, 161,.25)}
.dark .posts .blog-post h3 a:hover{color: #1dd1a1;}
.dark .posts .blog-post h3 a{color: #fff;}
.dark .projects .project{background: #353b48;border-color: #252a33;}
.dark .projects .project .details .license a{color: #1dd1a1;}
.dark .projects .project .details .license a:hover{color: white;}
.dark .projects .project .details .actions a{background: #1dd1a1;color: #202020;}
.dark .projects .project .details .actions a:first-child:hover{background: #53ffd1;color: #202020;}
@media screen and (max-width:980px){
     .dark .navbar-menu{background-color:#2f343f;}
     .dark .sticky .navbar-menu{background-color:#353b48;}
     .dark .sticky .menu-toggler.span{background-color:#f1f1f1;}
}