*{margin:0;padding:0;box-sizing:border-box;text-decoration:none;font-family:Sora,'Segoe UI',Tahoma,Geneva,Verdana,Arial,Helvetica,sans-serif;}
html{scroll-behavior:smooth;position:relative;}
body{background: #f1f1f1; color: #202020;}
::-webkit-scrollbar{width: 25px;background: #333;}
::-webkit-scrollbar-track{border: 7px solid #353b48;box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,.5);}
::-webkit-scrollbar-thumb{background: #22b455;background: linear-gradient(45deg,#22b455,#1dd1a1);}
.skip-link-container{position: absolute;width: 100%;top: 18px;}
.skip-link-container .skip-link{background: #92e5a1;padding: 8px;color: #204829;position: absolute;transition: transform 0.3s;transform: translateY(-100%);}
.skip-link-container .skip-link:focus{transform: translateY(0);}
.loader-wrapper{width: 100%;height: 100vh;background-color: #353b48;z-index: 99999;}
.loader-wrapper,.navbar,.goTop,.subscribe{position: fixed;}
.loader-wrapper,#home .inner-width,.goTop,.skip-link-container{display: flex;justify-content: center;align-items: center;}
.loader{width: 30px;height: 150px;background: #22b455;background: linear-gradient(45deg,#22b455,#1dd1a1);border-radius: 50px;margin: 10px;animation: loader 0.8s ease infinite;}
.loader:nth-child(2){animation-delay:.1s;}.loader:nth-child(3){animation-delay:.2s;}.loader:nth-child(4){animation-delay:.3s;}.loader:nth-child(5){animation-delay:.4s;}.loader:nth-child(6){animation-delay:.5s;}.loader:nth-child(7){animation-delay:.6s;}.loader:nth-child(8){animation-delay:.7s;}
.loader-hidden{animation: fadeOut 1s;-webkit-animation: fadeOut 1s;animation-fill-mode: forwards;}
.navbar{background: 0 0;width: 100%;padding: 30px 0;top: 0;z-index: 9999;transition: .3s ease-in-out;}
.inner-width{max-width: 1300px;margin: auto;padding: 0 40px;}
.navbar .inner-width{display: flex;align-items: center;justify-content: space-between;}
.logo{width: 150px;height: 32px;background-image: url(/Files/arsentech-dark.svg);background-size: contain;}
.menu-toggler{background: 0 0;width: 30px;border: none;cursor: pointer;position: relative;z-index: 999;display: none;color: #fff;font-size: 25px;}
.menu-toggler span{display: block;height: 3px;background-color: #fff;margin: 6px 0;position: relative;transition: .3s ease;}
.navbar-menu a{color: #fff;font-size: 16px;font-weight: 500;margin-left: 30px;transition: .3s ease;}
.navbar-menu a:hover,.navbar-menu a:focus-within{color: #1dd1a1 !important;}
#icon{width: 30px;transition: .3s ease;filter: invert(1);cursor: pointer;}
#icon img{width: 100%;}
.sticky{background: #f1f1f1;padding: 18px 0;}
.sticky .logo{background-image: url(/Files/arsentech-light.svg);transition: .3s;}
.sticky .logo:hover{background-image: url(/Files/arsentech-colorful.svg);}
.sticky .navbar-menu a,.sticky .menu-toggler{color: #222;}
.sticky .menu-toggler span{background-color: #222;}
.sticky #icon{filter: invert(0.1);}
#home{height: 100vh;min-height: 500px;background: #204829;background: linear-gradient(#20482945,#1dd1a188),url(../Files/backgrounds/bg.jpg) no-repeat;background: linear-gradient(#20482945,#1dd1a188),url(../Files/backgrounds/bg.webp) no-repeat center;background-attachment: fixed;background-size: cover;transition: 1s all;}
#home .inner-width{height: 100%;text-align: center;}
#home .content{width: 100%;color: #fff}
#home .content h1{font-size: 60px;margin-bottom: 60px;}
#home .content h1::after{content: "ArsenTech";animation: text 5s linear infinite;}
.sm a{font-size:26px;margin: 0 10px;}
.sm a img{width: 100%;max-width: 26px;filter: invert(1);transition: .3s ease-in-out;}
.sm a:hover img,.sm a:focus-within img{filter:invert(86%)sepia(62%)saturate(302%)hue-rotate(58deg)brightness(99%)contrast(105%);}
.anchor{position: fixed;top: 0;right: 0;height: 100%;display: flex;justify-content: center;align-items: end;flex-direction: column;z-index: 999;gap: 12px;padding: 0 15px;background: transparent;}
.anchor .marker{display:inline-block;width:20px;height: 20px;border-radius: 50%;border: 2px solid #b3ffc1;}
.anchor .anchor-item:hover .marker, .anchor .anchor-item.active .marker{background: #b3ffc1;}
.anchor .anchor-item{display: flex;justify-content: space-between;align-items: center;flex-direction: row-reverse;gap: 12px;transition: all .3s ease;}
.anchor .anchor-item:hover a{visibility: visible;}
.anchor.sticky .marker{border-color: #0B4B3A;}
.anchor.sticky .anchor-item:hover .marker, .anchor.sticky .anchor-item.active .marker{background: #0B4B3A;}
#home .buttons{margin-top: 60px;}
#home .buttons a{display: inline-block;margin: 15px 30px;color: #fff;font-size: 16px;font-weight: 500;width: 180px;border: 1px solid #fff;padding: 15px 0;border-radius: 6px;transition: .3s ease-in-out;outline:0;}
#home .buttons a:hover,#home .buttons a:focus-within,#home .buttons a:last-child{background-color: #204829;color: #fff;border-color: #204829;}
section{padding: 100px 0;background: #fff;}
.section-title{text-align: center;margin-bottom: 80px;position: relative;font-size: 26px;padding-bottom: 20px;color: #222;}
.section-title::before,.section-title::after,.skill-bar::after,.work::before{content: "";position: absolute;}
.section-title::before{width: 80px;height: 3px;background: #222;bottom: 0;left: calc(50% - 40px);}
.section-title::after{width: 16px;height: 10px;background-color: #1dd1a1;border: 4px solid #fff;left: calc(50% - 12px);bottom: -7px;}
.about-content{display: flex;align-items: center;flex-wrap: wrap;}
.about-pic{width: 200px;border-radius: 50%;margin-right: 100px;aspect-ratio: 1/1;}
.about-text{flex: 1;}
.about-text h3{margin: 10px 0;color: #444;font-size: 16px;}
.about-text h3 span:nth-child(1)::after,.about-text h3 span:nth-child(2)::after{content: "";width: 6px;height: 6px;background: #444;display: inline-block;border-radius: 50%;margin: 0 14px;}
.about-text p{font-size: 16px;text-align:left;line-height: 25px;margin-top: 20px;}
.skills{margin-top: 40px;display: flex;justify-content: space-between;flex-wrap: wrap;}
.skill{width: calc(50% - 20px);margin: 15px 0;}
.skill-info{display: flex;justify-content: space-between;}
.skill-bar{height: 3px;background: #ddd;margin-top: 14px;position: relative;}
.skill-bar::after{height: 6px;background-color: #1dd1a1;bottom: 0;}
.html::after,.css::after,.js::after,.react::after,.nextjs::after{width: 90%;}.angular::after{width: 75%;}
section.alt{background-color: #f1f1f1;}section.alt .section-title::after{border: 4px solid #f1f1f1;}
.services{display: flex;justify-content: space-between;flex-wrap: wrap;}
.service{width: calc(33% - 20px);text-align: center;border: 1px solid #0d5a45;border-radius: 5px;margin: 20px 0;padding: 40px 20px;color: #0d5a45;cursor: pointer;transition: .4s ease-in-out;}
.service .icon{color: #0d5a45;font-size: 45px;margin-bottom: 20px;transition: .4s ease-in-out;}
.service h3{font-size: 16px;margin-bottom: 5px;}
.service:hover{background-color: #0d5a45;color: #f1f1f1;}.service:hover .icon,.icon{color: #f1f1f1;}
.contact-form,.contact-info,.works{display: flex;justify-content: center;flex-wrap: wrap;}
.work{width: calc(33% - 10px);overflow: hidden;border-radius: 6px;margin: 5px;cursor: pointer;position: relative;}
.work img{width: 100%;height: 100%;transition: .4s linear;aspect-ratio: 12/8;}
.work::before{width: 100%;height: 100%;z-index: 1;background: #22b455aa;transition: .4s linear;opacity: 0;transform: scale(0);}
.work .info{position: absolute;z-index: 2;bottom: 15px;left: 20px;color: #fff;transition: .2s linear;opacity: 0;}
.work:hover img,.work:focus img{transform: scale(1.6) rotate(25deg);}
.work:hover .info,.work:hover::before,.work:focus .info,.work:focus::before{opacity: 1;transform: scale(1);}
.work .info .attr{font-size: 16px;margin: 10px 0;font-style: italic;}
.contact-info .item{width: calc(33% - 17px);height: 160px;color: #f1f1f1;background-color: #353b48;text-align: center;border-radius: 4px;cursor: pointer;transition: .3s ease-in-out;margin: 0 10px;}
.contact-info .contact-icon{display: block;font-size: 50px;line-height: 120px;height: 100px;margin: 0 auto;margin-top: 10px;}
.contact-info .item:hover{background-color: #1dd1a1;color: #353b48;}
.contact-form input,.contact-form textarea{width: 100%;height: 50px;margin: 10px 5px;background-color: #353b48;border: none;outline: 0;padding: 20px;border-radius: 4px;color: #f1f1f1;caret-color: #22b455;}
.contact-form input::placeholder,.contact-form textarea::placeholder{color: #aaa}
.emailZone,.nameZone{max-width: calc(50% - 10px);}
.messageZone{min-height: 200px;resize: vertical;}
.contact-form .btn{width: 180px;background-color: #f1f1f1;color: #0d5a45;font-size: 16px;border: 2px solid #1dd1a1;padding: 0;margin-right: auto;transition: .3s ease-in-out;cursor: pointer;}
.contact-form .btn:hover,.contact-form .btn:focus-within{background: #1dd1a1;}
#site-footer{width: 100%;background: #204829;background: linear-gradient(#20482945,#20482945),url(../Files/backgrounds/bg.jpg) no-repeat;background: linear-gradient(#20482945,#20482945),url(../Files/backgrounds/bg.webp) no-repeat center;background-attachment: fixed;background-size: cover;color: #fff;padding: 80px 0;text-align: center;}
.copyright{margin-bottom: 20px;font-size: 16px;}
.copyright a{text-decoration: underline;font-size: 16px;color: #E8FDF7;font-weight: 500;transition: .3s linear;}
.copyright a:hover,.copyright a:focus-within{color: #59facf;}
.goTop{background: #22b455;bottom: 16px;right: 32px;width: 40px;height: 40px;border-radius: 10px;border: 2px solid #22b455;color: #fff;text-decoration: none;transition: all .3s;opacity: 0;cursor: auto;z-index: 99999;}
.goTop img{width: 30px;filter: invert(1);height: 30px;}
.goTop.active{cursor: pointer;bottom: 32px;opacity: 1;}
.subscribe{display:flex;justify-content:center;align-items:center;padding:20px;border-radius:10px;background:#fff;box-shadow:0 5px 10px rgba(0,0,0,.5);z-index:999;bottom:16px;left:12px;animation:show_sub 1s ease forwards;}
.subscribe button{position:absolute;top:0;right:0;font-size:21px;padding:.125em;border:none;background:none;cursor:pointer;transition:.3s;opacity:.55}
.subscribe button:hover{opacity:1}
.subscribe img{border-radius:50%;margin-right:15px}
.subscribe p{color:#444}
.subscribe a{display:inline-block;padding:.5em 1em;border-radius:10px;background:#0B4B3A;width:100%;color:#fff;width:100%;text-align:center;transition:.3s;margin-top: 5px;font-size: 18px;}
.subscribe a:hover{background:#138164}.subscribe.hide{animation:hide_sub 0.5s ease forwards}
.christmas :where(#home,#site-footer){background:#204829!important;background:linear-gradient(#20482945,#20482945),url(../Files/backgrounds/bg-christmas.jpg) no-repeat!important;background:linear-gradient(#20482945,#20482945),url(../Files/backgrounds/bg-christmas.webp) no-repeat center!important;background-attachment:fixed!important;background-size:cover!important}
@keyframes loader{0%,100%{transform: rotateX(0);}50%{transform: rotateX(90deg);}}
@keyframes fadeOut{100%{opacity:0;visibility: hidden;}}
@keyframes text{25%{content: "a Tech Youtuber";}50%{content: "a Developer";}75%{content: "a Programmer (Coder)";}}
@keyframes show_sub {0%{transform: translate(-100%);}50%{transform: translate(5%);}100%{transform: translate(0);}}
@keyframes hide_sub {0%{transform: translate(0);}50%{transform: translate(5%);}100%{transform: translate(calc(-100% - 40px));}}
@media screen and (max-width:980px){
     .menu-toggler{display:block;z-index: 2;}.navbar-menu a{display:block;font-size:30px;margin:30px 0;}
     .navbar-menu{position:fixed;height:100vh;width:100%;background-color:#353b48;top:0;left:-100%;max-width:400px;padding:80px 50px;transition:.3s linear;text-align:center!important;z-index: 1;}
     .sticky .navbar-menu{background-color:#f1f1f1;}
     .sticky .menu-toggler.span{background-color:#222;}.navbar-menu.active{left:0;}
     .menu-toggler.active span:nth-child(1){transform:rotate(-45deg);top:4px;}
     .menu-toggler.active span:nth-child(2){opacity:0;}
     .menu-toggler.active span:nth-child(3){transform:rotate(45deg);bottom:14px;}
     .inner-width .logo{order: 0;}.inner-width .menu-toggler{order: -1;}
     .inner-width{max-width:800px;}.about-pic{margin:0 auto 60px;}.about-text{flex:100%;text-align:center;}
     .service{width:calc(50% - 20px);}.work{width:calc(50% - 10px);}
     .contact-info .item{width:100%;margin:10px 0;}
     .subscribe{padding: 15px;}.subscribe img{width: 90px;height: 90px;}
}
@media screen and (max-width:600px){#home .content h1{font-size:40px;}.inner-width{padding:0 18px;}.skill,.service,.work{width:100%;}.emailZone,.nameZone{max-width:100%;}.subscribe{right:12px;}}
@media screen and (max-width:290px){#home .content h1{font-size:30px;}.subscribe img{width:75px;height:75px;}}
.no-script #site-header,.no-script #site-main,.no-script #site-footer,.no-script .loader-wrapper{display: none;}
.no-script{min-height: 100vh;text-align: center;background: #204829;background: linear-gradient(#22B45545,#1dd1a188),url(../Files/backgrounds/bg.jpg) no-repeat;background: linear-gradient(#22B45545,#1dd1a188),url(../Files/backgrounds/bg.webp) no-repeat; background-size: cover;}
.no-script h2{color: #dc3545;margin: 5px;font-size: 30px;}
noscript .err{width: 100%;position: absolute;top: 50%;background: #92e5a1;padding: 15px 0;}
@media (prefers-reduced-motion: reduce) {*,*::after,*::before {transition: none !important;scroll-behavior: auto !important;transition-delay: 0 !important;}}