*{margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;font-family: 'Sora', Arial;}
html{scroll-behavior: smooth;}
::-webkit-scrollbar{width: 25px; background: #333;}
::-webkit-scrollbar-track{border: 7px solid #353b48; box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb{background: linear-gradient(45deg, #22b455, #1dd1a1);}
::selection {color: #020204; background-color: #92e5a1;}
.navbar{
    position: fixed;
    background: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: 0.3s linear;
}
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}
.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 32px;
    background-image: url(../Files/arsentech.png);
    background-size: contain;
}
.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
    color: white;
    font-size: 25px;
}
.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}
.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3s linear;
}
.navbar-menu a:hover{color: #1dd1a1 !important;}
.sticky{background: #f1f1f1; padding: 18px 0;}
.sticky .logo{background-image: url(../Files/arsentech-black.png);}
.sticky .navbar-menu a{color: #020204;}
.sticky .menu-toggler span{background-color: #020204;}
.sticky .menu-toggler{color: #020204;}
#home{
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(-45deg, #22b455, #1dd1a1) no-repeat center;
    background-attachment: fixed;
    transition: 1s all;
}
#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#home .content{width: 100%; color: #fff;}
#home .content h1{font-size: 60px; margin-bottom: 60px;}
#home .content h1::after{content: "ArsenTech"; animation: text 5s linear infinite;}
@keyframes text{
    25%{content: "a Tech Youtuber";}
    50%{content: "a Developer";}
    75%{content: "a Photographer";}
}
.sm a{
    color: #fff;
    font-size: 26px;
    margin: 0 10px;
    transition: 0.3s linear;
}
.sm a:hover{color: #a2ffb3;}
#home .buttons{margin-top: 60px;}
#home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: #204829;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #204829;
    padding: 15px 0;
    border-radius: 6px;
    transition: 0.3s linear;
}
#home .buttons a:hover{background-color: #204829;color: #fff;}
section{padding: 100px 0;background: white;}
.section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #020204;
}
.section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background: #020204;
    bottom: 0;
    left: calc(50% - 40px);
}
.section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #1dd1a1;
    border: 4px solid #fff;
    left: calc(50% - 12px);
    bottom: -7px;
}
.about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-pic{
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
}
.about-text{flex: 1;}
.about-text h3{
    margin: 10px 0;
    color: #444;
    font-size: 16px;
}
.about-text h3 span:nth-child(1)::after, .about-text h3 span:nth-child(2)::after{
    content: "";
    width: 6px;
    height: 6px;
    background: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
}
.about-text p{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;
}
.skills{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill{width: calc(50% - 20px); margin: 15px 0;}
.skill-info{display: flex; justify-content: space-between;}
.skill-bar{
    height: 3px;
    background: #ddd;
    margin-top: 14px;
    position: relative;
}
.skill-bar::after{
    content: "";
    position: absolute;
    height: 6px;
    background-color: #1dd1a1;
    bottom: 0;
}
.html::after{width: 90%;}
.css::after{width: 90%;}
.js::after{width: 60%;}
.php::after{width: 15%;}
section.dark{background-color: #353b48;}
section.dark .section-title{color: #f1f1f1;}
section.dark .section-title::before{background-color: #f1f1f1;}
section.dark .section-title::after{border: 4px solid #353b48;}
.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service{
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #1dd1a1;
    border-radius: 5px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #22b455;
    cursor: pointer;
    transition: 0.5s linear;
}
.service .icon{
    color: #22b455;
    font-size: 45px;
    margin-bottom: 20px;
    transition: 0.5s linear;
}
.service h4{font-size: 15px; margin-bottom: 5px;}
.service:hover{background-color: #22b455; color: white;}
.service:hover .icon{color: white;}
.works, .contact-info, .contact-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.work{
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.work img{
    width: 100%;
    height: 100%;
    transition: 0.4s linear;
}
.work::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #22b45580;
    transition: 0.4s linear;
    opacity: 0;
    transform: scale(0);
}
.work .info{
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: #fff;
    transition: 0.2s linear;
    opacity: 0;
}
.work:hover img{transform: scale(1.6) rotate(25deg);}
.work:hover::before, .work:hover .info{opacity: 1; transform: scale(1);}
.contact-info .item{
    width: calc(33% - 17px);
    height: 160px;
    color: #020204;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s linear;
    margin: 0 10px;
}
.contact-info .contact-icon{
    display: block;
    font-size: 50px;
    line-height: 120px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
}
.contact-info .item:hover{background-color: #1dd1a1;}
.contact-form input, .contact-form textarea{
    width: 100%;
    height: 50px;
    margin: 10px 5px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #020204;
}
.nameZone, .emailZone{max-width: calc(50% - 10px);}
.messageZone{min-height: 200px; resize: vertical;}
.contact-form .btn{
    width: 180px;
    background-color: transparent;
    color: #1dd1a1;
    font-size: 16px;
    border: 2px solid #1dd1a1;
    padding: 0;
    margin-left: auto;
    transition: 0.3s linear;
}
.contact-form .btn:hover{background: #1dd1a1; color: #020204;}
#error{
   margin-top: 20px;
   margin-bottom: 15px;
   padding: 0px;
   background: #fe8b8e;
   text-align: center;
   font-size: 16px;
   transition: 0.5s ease;
}
#site-footer{
    width: 100%;
    background: linear-gradient(-45deg, #1dd1a1, #22b455);
    color: #fff;
    padding: 80px 0;
    text-align: center;
}
.copyright{margin-bottom: 20px; font-size: 15px;}
.copyright a{font-size: 16px;color: #25ecb7;font-weight: 500; transition: 0.3s linear;}
.copyright a:hover{color: #bdffed;}
.goTop{
   position: fixed;
   z-index: 999;
   bottom: 40px;
   right: 40px;
   width: 40px;
   height: 40px; 
   background: #1dd1a1;
   border: 2px solid #22b455;
   border-radius: 10px;
   cursor: pointer;
   color: #fff;
   outline: none;
   display: none;
   font-size: 20px;
}
@media screen and (max-width: 980px){
    .menu-toggler{display: block;}
    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: 0.3s linear;
    }
    .navbar-menu a{
        display: block;
        font-size: 30px;
        margin: 30px 0;   
    }
    .sticky .navbar-menu{background-color: #f1f1f1;}
    .sticky .menu-toggler.span{background-color: #020204;}
    .navbar-menu.active{ right: 0; }
    .menu-toggler.active span:nth-child(1){transform: rotate(-45deg); top: 4px;}
    .menu-toggler.active span:nth-child(2){opacity: 0;}
    .menu-toggler.active span:nth-child(3){transform: rotate(45deg); bottom: 14px;}
    .inner-width{max-width: 800px;}
    .about-pic{margin: 0 auto 60px;}
    .about-text{flex: 100%; text-align: center;}
    .service{ width: calc(50% - 20px);}
    .work{width: calc(50% - 10px);}
    .contact-info .item{width: 100%; margin: 10px 0;}
}
@media screen and (max-width: 600px){
    #home .content h1{font-size: 45px;}
    .inner-width{padding: 0 20px;}
    .skill{width: 100%;}
    .service{width: 100%;}
    .work{width: 100%;}
    .nameZone, .emailZone{max-width: 100%;}
}
@media screen and (max-width: 290px){#home .content h1{font-size: 34px;}}
